<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
  <h2>Absensi Siswa</h2>

  <table>
    <thead>
      <tr>
        <th>Tanggal</th>
        <th>Siswa</th>
        <th>Status</th>
        <th>Metode Absensi</th>
        <th>Opsi</th>
      </tr>
    </thead>
    <tbody>
      {% for absen in absen %}
        <tr>
          <td>{{ absen.tanggal }}</td>
          <td>{{ absen.siswa.nama }}</td>
          <td>{{ absen.tingkat }}</td>
          <td>{{ absen.metode_absensi }}</td>
          <td>
            <a href="{% url 'absenkan_siswa' absen.siswa.id %}">Absenkan</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

</body>
</html>