<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base_generic.html' %}
{% block content %}
  <h2>Jadwal Guru</h2>

  <table>
    <thead>
      <tr>
        <th>Hari</th>
        <th>Waktu</th>
        <th>Matpel</th>
      </tr>
    </thead>
    <tbody>
      {% for jadwal in jadwal %}
        <tr>
          <td>{{ jadwal.hari }}</td>
          <td>{{ jadwal.waktu }}</td>
          <td>{{ jadwal.mata_pelajaran }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

</body>
</html>