<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% block content %}
  <h2>Riwayat Absensi</h2>

  <table>
    <thead>
      <tr>
        <th>Tanggal</th>
        <th>Status</th>
        <th>Metode Absensi</th>
      </tr>
    </thead>
    <tbody>
      {% for absen in absen %}
        <tr>
          <td>{{ absen.tanggal }}</td>
          <td>{{ absen.status }}</td>
          <td>{{ absen.metode_absensi }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'absensi_siswa' %}">Kembali ke Halaman Absensi</a>
{% endblock %}

</body>
</html>